@model EventManagementSystem.Web.Models.Entities.Event
<section id="hero" class="hero section light-background">
    <div class="container">
        <div class="row gy-4 justify-content-center justify-content-lg-between">
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Thưởng Thức Nghệ Thuật<br>Ẩm Thực Đỉnh Cao</h1>
                <p data-aos="fade-up" data-aos-delay="100" class="fw-bold text-primary">@Model.Title</p>
                <p data-aos="fade-up" data-aos-delay="150">@Model.Location | @Model.StartDate.ToString("dd/MM/yyyy")</p>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a href="#tickets" class="btn-get-started">Mua Vé Ngay</a>
                    <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center">
                        <i class="bi bi-play-circle"></i><span>Xem Video</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                <img src="@(string.IsNullOrEmpty(Model.ImageUrl) ? "/Templates/Yummy/assets/img/hero-img.png" : Model.ImageUrl)" class="img-fluid animated" alt="@Model.Title">
            </div>
        </div>
    </div>
</section>